@import 'components/FirstComponent';
$icon-font-path: "../assets/fonts/bootstrap/";
@import "bootstrap";

body {
  background-color: white;
  display: table;
  margin:0;
  width:100vw;
  height:100vh;
  .mount {
    display:table-cell;
    vertical-align: middle;
  }
}
