.first-component {
  background-color: transparent;
  border: 1px solid green;
  color: green;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  width:50%;
  margin:auto;
  text-align: center;
}
